In [1]:
import pandas as pd

In [2]:
df = pd.read_json('ind-data.json')

In [4]:
df

                     id             provinsi
0                  Aceh                 Aceh
1                  Bali                 Bali
2       Bangka-Belitung      Bangka-Belitung
3                Banten               Banten
4              Bengkulu             Bengkulu
5             Gorontalo            Gorontalo
6      Irian Jaya Barat     Irian Jaya Barat
7          Jakarta Raya         Jakarta Raya
8                 Jambi                Jambi
9            Jawa Barat           Jawa Barat
10          Jawa Tengah          Jawa Tengah
11           Jawa Timur           Jawa Timur
12     Kalimantan Barat     Kalimantan Barat
13   Kalimantan Selatan   Kalimantan Selatan
14    Kalimantan Tengah    Kalimantan Tengah
15     Kalimantan Timur     Kalimantan Timur
16     Kalimantan Utara     Kalimantan Utara
17       Kepulauan Riau       Kepulauan Riau
18              Lampung              Lampung
19         Maluku Utara         Maluku Utara
20               Maluku               Maluku
21  Nusa Tenggara Barat  Nusa Tenggara Barat
22  Nusa Tenggara Timur  Nusa Tenggara Timur
23                Papua                Papua
24                 Riau                 Riau
25       Sulawesi Barat       Sulawesi Barat
26     Sulawesi Selatan     Sulawesi Selatan
27      Sulawesi Tengah      Sulawesi Tengah
28    Sulawesi Tenggara    Sulawesi Tenggara
29       Sulawesi Utara       Sulawesi Utara
30       Sumatera Barat       Sumatera Barat
31     Sumatera Selatan     Sumatera Selatan
32       Sumatera Utara       Sumatera Utara
33           Yogyakarta           Yogyakarta

In [5]:
df.loc[df.provinsi.str.contains('Bangka-belitung'), 'provinsi'] = 'Kepulauan Bangka Belitung'
df.loc[df.provinsi.str.contains('Irian Jaya Barat'), 'provinsi'] = 'Papua Barat'
df.loc[df.provinsi.str.contains('Jakarta Raya'), 'provinsi'] = 'Jakarta'
df.loc[df.provinsi.str.contains('Bangka-Belitung'), 'provinsi'] = 'Kepulauan Bangka Belitung'

In [31]:
provinsi = list((rev_df.drop_duplicates(['provinsi'])).provinsi)

In [35]:
df[df.provinsi.isin(provinsi) == False]

Empty DataFrame
Columns: [id, provinsi]
Index: []

In [37]:
df[df.provinsi != df.id]

                  id                   provinsi
2    Bangka-Belitung  Kepulauan Bangka Belitung
6   Irian Jaya Barat                Papua Barat
7       Jakarta Raya                    Jakarta
30    Sumatera Barat              Sumatra Barat
31  Sumatera Selatan            Sumatra Selatan
32    Sumatera Utara              Sumatra Utara

In [39]:
with open('./ind-data-prov-rev.json', 'w', encoding='utf-8') as outfile:
    outfile.write(df.to_json(orient='records'))

In [3]:
df = pd.read_json('./ind-data-prov-rev.json')
db = pd.read_json('./provinsi_bahasa.json')

In [8]:
df.loc[df.provinsi.str.contains('Sumatra Barat'), 'provinsi'] = 'Sumatera Barat'
df.loc[df.provinsi.str.contains('Sumatra Selatan'), 'provinsi'] = 'Sumatera Selatan'
df.loc[df.provinsi.str.contains('Sumatra Utara'), 'provinsi'] = 'Sumatera Utara'

In [12]:
merged = pd.merge(df, db, on='provinsi', how='left')

In [25]:
with open('./ind-data-prov-bahasa.json', 'w', encoding='utf-8') as outfile:
    outfile.write(merged.to_json(orient='records'))